body{
	background-color: #e3e3e3;
}
header{
	margin-left: 0%;
	background-color: blue;
	border-radius: 5px;
	position: fixed;
	top: 0px;
	width: 100%;
}
#fixed-logo{
	width: 150px;
	height:70px;
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 15px;
}
#fixed-nav{
	padding-top: 35px;
	padding-right: 20px;
	float: right;
}
#fixed-nav a{
	font-family: sans-serif;
	font-size: 30px;
	text-decoration: none;
	padding-right: 30px;
	background-color: yellow;
	border-radius: 5px;
}
#fixed-nav a:hover{
	color: #e3e3e3;
}
#art-bg{
	background-color: white;
	font-family: 'Roboto', sans-serif;
	margin-top: 80px;
}
#blocks{
	background-color: yellow;
	border: 2px solid black;
	border-radius: 8px;
	font-size: 20px;
	font-family: 'Gentium Basic', serif;
	text-align: center;
	margin-left: 0;
	color:blue;
}
.sec-style{
	font-family: 'Gentium Basic', serif;
	font-size: 20px;
}
.fig-set{
margin:20px 0px 0px 0px;
}
.fig-set>img{
	width: 100%;
}
#text{
	font-family: 'Candal', sans-serif;
	font-size: 30px;
}
.abt-fig{
	font-family: 'Gentium Basic', serif;
	font-size: 20px;
}
.grid4-style{
	background-color: red;
}
.grid4-style>article>figure>img{
	width: 250px;
	height:250px;
	margin: 0;
}
.grid4-style>article>figure>figcaption{
	font-size: 20px;
}
.grid4-style>article>p{
font-family: 'Gilda Display', serif;
}
footer{
	font-size: 25px;
	text-align: center;
	background-color: yellow;
	border-radius: 7px;
}
footer>p>span{
	padding: 0.5em 0.5em;
}
footer>p>span>a{
	text-decoration: none;
}
#set-footer{
	background-color: green;
	border-radius: 5px;
	padding-left: 30px;
}
#scroll-top{
	background-color: red;
	border-radius: 2px;
	color: black;
	text-decoration: none;
}
#bot a:hover{
	color: #e3e3e3;
}